#bgpic {
  text-align: center;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.mZXWPLg5fzAgShujkCWm0QHaE8%26pid%3DApi&f=1');
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vh;
}

